body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: flex-start;

}

*{
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    color: black;
    border: 2px dashed rgb(255, 255, 255);
    background: #ffffff;
}

p{
    font-size: 18 px;
    width: 400px4;
    background: #ffffff;
    margin: 30px 0px;
    padding: 50px 0px;
}

a {
    background: #FF6861;
    border-radius: 100px;
    color: #FFFFFF;
    padding: 22px 70px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 219px;
}

div {
    width: 465px;
    height: 389px;
    margin-left: 180px;

}